/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1{
	color: blue;
	font-family: Arial;
}
.container{
	width: 80%;
	margin: auto;
}
body{
	font-family: Arial;
	background-color: #f3f3f3;
}

.link_button{
	color: #fff;
	background: #2D2B2B;
	border: 0;
	padding: 10px 20px;
	margin-right: 3px;
	margin-left: 3px;
}
a{
    text-decoration: none;
    color:#000;
}

a:hover{
    color:red;
}

a:active{
    color:green;
}